body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    text-align: center;
}

#post-form {
    background-color: white;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
   
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 60%;
}

#post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 35px;
    border-radius: 50% ;
    margin-right: 10px;
    
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color:rgb(202, 27, 132);
}
.user-profile small{
 font-size: 10px;
}

#feed {
    width: 63%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.post {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.container {
    display:flex;
    justify-content: space-between;
    padding: 10px 5%;
    }
.left-side {
    background: #e9e7d1;
    flex-basis: 90%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
   

 }
 

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 20px;
    margin-right: 10px;
    border-radius: 50% ;
    margin-right: 10px;
    
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}