/* CSS for the profile container */
.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }
  
  /* CSS for each individual profile */
  .profile {
    border: 2px solid blue;
    padding: 20px;
    width: fit-content;
    display: inline-block;
    margin: 10px;
  }
  .user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:50px;
    margin:30px;
  }
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    margin: 20px;
  }
  .user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    margin: 20px;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rating {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .rating span {
    color: rgb(13, 0, 255);
    margin-right: 3px; /* Reduce the spacing between stars */
  }
  
  .rating button {
    background: rgb(215, 81, 14);
    border: rgb(188, 10, 10);
    cursor: pointer;
    padding: 0;
    margin: 0 3px;
    display: flex;
    align-items: center;
  }
  .rating button i {
   padding: 5px;
  }
  
  .profile-details {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .star.filled::before {
    content: "\2605";
    color: gold;
  }
  .new-post{
    display: flex;
    flex-direction: column;
    justify-items: center;
    
  }
  .new-post input,textarea,button,h2{
    margin:10px;
    font-size: 18px;
  }